{% extends "base.html" %}
{% block content %}

<div class="dashboard-card">
    <h2>Passengers for Flight {{ airline }} {{ flight_num }}</h2>

    {% if passengers %}
    <table class="styled-table">
        <thead><tr><th>Name</th><th>Email</th></tr></thead>
        <tbody>
            {% for p in passengers %}
            <tr>
                <td>{{ p.name }}</td>
                <td>{{ p.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No passengers found.</p>
    {% endif %}
</div>


{% endblock %}
